<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <!--セキュリティー対策-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--stylesheetとjavascriptをページ内にインクルードする-->
    <%= stylesheet_link_tag ... %>
    <%= javascript_pack_tag "application", ... %>
  </head>
  <body>
    <!--各ページの内容をレイアウトに挿入する-->
    <%= yield %>
  </body>
</html>